# Ignore compiled Python files
*.pyc
__pycache__/

#jupyter notebook
*.ipynb

#ignore storage table csv files
#*.csv
#storage/

# Ignore any IDE or editor-specific files
.vscode/

# Ignore any compiled or built files
dist/
build/
*.egg-info/